# Excel Sheet Reader
## Reads and imports the data into MongoDB

In [1]:
import pandas as pd
import numpy as np
import pymongo

In [2]:
myclient = pymongo.MongoClient('mongodb+srv://caleb1027:Jiayi0514&@cluster0.x2ey91e.mongodb.net/?retryWrites=true&w=majority')
mydb = myclient["VCTStats"]
mycol = mydb["2022Stats"]

In [3]:
xl_file = 'VCTNA_Stats22.xlsx'

In [4]:
df = pd.read_excel(xl_file)
del df['Unnamed: 0']
df.head(5)

,Name,Team,Rounds Played,ACS,KPR,APR,K:D,KAST,ADR,HS%,FKPR,FDPR,FK:FD,Clutch %
0,Asuna,100T,1028,226.525000,0.769455,0.337549,1.038058,0.7175,147.350,0.2050,0.160506,0.162451,0.988024,0.175
1,bdog,SR,835,223.580000,0.803593,0.154491,1.112769,0.6700,142.760,0.2200,0.150898,0.117365,1.285714,0.086
2,BABYBAY,FaZe,848,237.633333,0.786557,0.207547,1.068910,0.6900,154.300,0.1800,0.181604,0.147406,1.232000,0.130
3,trent,TGRD,1043,222.525000,0.779482,0.289549,1.192082,0.7650,145.975,0.3125,0.074784,0.077661,0.962963,0.170
4,jawgemo,EG,779,239.075000,0.784339,0.263158,1.021739,0.7125,151.100,0.2225,0.143774,0.163030,0.881890,0.145

In [5]:
df = np.round(df, decimals=2)
df.head(5)

,Name,Team,Rounds Played,ACS,KPR,APR,K:D,KAST,ADR,HS%,FKPR,FDPR,FK:FD,Clutch %
0,Asuna,100T,1028,226.52,0.77,0.34,1.04,0.72,147.35,0.20,0.16,0.16,0.99,0.18
1,bdog,SR,835,223.58,0.80,0.15,1.11,0.67,142.76,0.22,0.15,0.12,1.29,0.09
2,BABYBAY,FaZe,848,237.63,0.79,0.21,1.07,0.69,154.30,0.18,0.18,0.15,1.23,0.13
3,trent,TGRD,1043,222.52,0.78,0.29,1.19,0.77,145.98,0.31,0.07,0.08,0.96,0.17
4,jawgemo,EG,779,239.08,0.78,0.26,1.02,0.71,151.10,0.22,0.14,0.16,0.88,0.14

In [6]:
df_dict = df.to_dict('records')
mycol.insert_many(df_dict)